<a href="https://colab.research.google.com/github/kingketan9/BigDataLabs/blob/main/Lab2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!pip install pyspark

Requirement already satisfied: pyspark in /usr/local/lib/python3.10/dist-packages (3.4.1)
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.10/dist-packages (from pyspark) (0.10.9.7)

In [ ]:
from pyspark.sql import SparkSession

In [ ]:
spark = SparkSession.builder.master("local[*]").getOrCreate()

In [ ]:
spark

In [ ]:
sc = spark.sparkContext

1. Create and print an RDD from the list: [1, 5, 9, 4, 7, 2]

In [ ]:
data_list = [1, 5, 9, 4, 7, 2]
rdd = sc.parallelize(data_list)


print(rdd.collect())

[1, 5, 9, 4, 7, 2]

2. Print the sum of squares of the above RDD.

In [ ]:
data_list = [1, 5, 9, 4, 7, 2]
rdd = sc.parallelize(data_list)

sum_of_squares = rdd.map(lambda x: x**2).reduce(lambda x, y: x + y)

print("Sum of squares:", sum_of_squares)

Sum of squares: 176

3. Consider the RDD = [3, 5, 6]. Using RDD transformations print the following: [2, 2, 3, 4, 2, 3, 4, 5]

In [ ]:
data_list = [3,5,6]
rdd = sc.parallelize(data_list)

result = rdd.flatMap(lambda x: (i for i in range(2,x)))
print(result.collect())

[2, 2, 3, 4, 2, 3, 4, 5]

4. Consider the RDD [(1,1), (4,7), (1,2), (3,-5), (1,4)]. Using RDD transformations print the following: [(4, [7]), (1, [1, 2, 4]), (3, [-5])]

In [ ]:
data_list = [(1, 1), (4, 7), (1, 2), (3, -5), (1, 4)]
rdd = sc.parallelize(data_list)

grouped_rdd = rdd.groupByKey()

result_rdd = grouped_rdd.map(lambda x: (x[0], list(x[1])))

result_list = result_rdd.collect()
print(result_list)

[(4, [7]), (1, [1, 2, 4]), (3, [-5])]

 5. Repeat the TF-IDF exercise with RDD transformations.

In [ ]:
from math import log

data_rdd = sc.parallelize([(1, 1), (4, 7), (1, 2), (3, -5), (1, 4)])

document_freq_rdd = data_rdd.map(lambda x: (x[0], 1)) \
                            .reduceByKey(lambda x, y: x + y)

total_docs = data_rdd.map(lambda x: x[0]).distinct().count()
idf_rdd = document_freq_rdd.map(lambda x: (x[0], log(total_docs / x[1])))

tfidf_rdd = data_rdd.join(idf_rdd) \
                   .map(lambda x: (x[0], x[1][0] * x[1][1]))

tfidf_list = tfidf_rdd.collect()
for doc_id, tfidf in tfidf_list:
    print(f"Document {doc_id} TF-IDF: {tfidf:.4f}")

Document 4 TF-IDF: 7.6903
Document 1 TF-IDF: 0.0000
Document 1 TF-IDF: 0.0000
Document 1 TF-IDF: 0.0000
Document 3 TF-IDF: -5.4931