<a href="https://colab.research.google.com/github/kingketan9/BigDataLabs/blob/main/Lab3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!apt-get install openjdk-8-jdk-headless -qq > /dev/null ### Installing Java

In [2]:
!wget -q http://archive.apache.org/dist/spark/spark-3.1.1/spark-3.1.1-bin-hadoop3.2.tgz #### Installing Spark and Hadoop on the worker node
!tar xf spark-3.1.1-bin-hadoop3.2.tgz
!pip install -q findspark

In [3]:
import os
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-8-openjdk-amd64"
os.environ["SPARK_HOME"] = "/content/spark-3.1.1-bin-hadoop3.2"

import findspark
findspark.init()
from pyspark.sql import SparkSession
spark = SparkSession.builder.master("local[*]").getOrCreate()
spark.conf.set("spark.sql.repl.eagerEval.enabled", True) # Property used to format output tables better
spark #### Creating a Sparksession

In [4]:
!wget https://jacobceles.github.io/knowledge_repo/colab_and_pyspark/cars.csv

--2023-08-16 11:03:00--  https://jacobceles.github.io/knowledge_repo/colab_and_pyspark/cars.csv
Resolving jacobceles.github.io (jacobceles.github.io)... 185.199.111.153, 185.199.110.153, 185.199.109.153, ...
Connecting to jacobceles.github.io (jacobceles.github.io)|185.199.111.153|:443... connected.
HTTP request sent, awaiting response... 301 Moved Permanently
Location: https://jacobcelestine.com/knowledge_repo/colab_and_pyspark/cars.csv [following]
--2023-08-16 11:03:00--  https://jacobcelestine.com/knowledge_repo/colab_and_pyspark/cars.csv
Resolving jacobcelestine.com (jacobcelestine.com)... 185.199.108.153, 185.199.109.153, 185.199.110.153, ...
Connecting to jacobcelestine.com (jacobcelestine.com)|185.199.108.153|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 22608 (22K) [text/csv]
Saving to: ‘cars.csv’

cars.csv            100%[===================>]  22.08K  --.-KB/s    in 0.002s

2023-08-16 11:03:00 (10.2 MB/s) - ‘cars.csv’ saved [22608/22608]

Load data from csv to a dataframe.

In [5]:
df = spark.read.csv('cars.csv', header = True, sep = ";")

View top five rows of the dataframe.

In [6]:
print("Top five rows of the dataframe:")
df.show(5)

Top five rows of the dataframe:
+--------------------+----+---------+------------+----------+------+------------+-----+------+
|                 Car| MPG|Cylinders|Displacement|Horsepower|Weight|Acceleration|Model|Origin|
+--------------------+----+---------+------------+----------+------+------------+-----+------+
|Chevrolet Chevell...|18.0|        8|       307.0|     130.0| 3504.|        12.0|   70|    US|
|   Buick Skylark 320|15.0|        8|       350.0|     165.0| 3693.|        11.5|   70|    US|
|  Plymouth Satellite|18.0|        8|       318.0|     150.0| 3436.|        11.0|   70|    US|
|       AMC Rebel SST|16.0|        8|       304.0|     150.0| 3433.|        12.0|   70|    US|
|         Ford Torino|17.0|        8|       302.0|     140.0| 3449.|        10.5|   70|    US|
+--------------------+----+---------+------------+----------+------+------------+-----+------+
only showing top 5 rows

Print schema of the dataframe.

In [7]:
print("Schema of the dataframe:")
df.printSchema()

Schema of the dataframe:
root
 |-- Car: string (nullable = true)
 |-- MPG: string (nullable = true)
 |-- Cylinders: string (nullable = true)
 |-- Displacement: string (nullable = true)
 |-- Horsepower: string (nullable = true)
 |-- Weight: string (nullable = true)
 |-- Acceleration: string (nullable = true)
 |-- Model: string (nullable = true)
 |-- Origin: string (nullable = true)

Print the column "Car"

In [8]:
print("Column 'Car':")
df.select("Car").show()

Column 'Car':
+--------------------+
|                 Car|
+--------------------+
|Chevrolet Chevell...|
|   Buick Skylark 320|
|  Plymouth Satellite|
|       AMC Rebel SST|
|         Ford Torino|
|    Ford Galaxie 500|
|    Chevrolet Impala|
|   Plymouth Fury iii|
|    Pontiac Catalina|
|  AMC Ambassador DPL|
|Citroen DS-21 Pallas|
|Chevrolet Chevell...|
|    Ford Torino (sw)|
|Plymouth Satellit...|
|  AMC Rebel SST (sw)|
| Dodge Challenger SE|
|  Plymouth 'Cuda 340|
|Ford Mustang Boss...|
|Chevrolet Monte C...|
|Buick Estate Wago...|
+--------------------+
only showing top 20 rows

Print multiple columns "Car" and "Cylinders"

In [9]:
print("Columns 'Car' and 'Cylinders':")
df.select("Car", "Cylinders").show()

Columns 'Car' and 'Cylinders':
+--------------------+---------+
|                 Car|Cylinders|
+--------------------+---------+
|Chevrolet Chevell...|        8|
|   Buick Skylark 320|        8|
|  Plymouth Satellite|        8|
|       AMC Rebel SST|        8|
|         Ford Torino|        8|
|    Ford Galaxie 500|        8|
|    Chevrolet Impala|        8|
|   Plymouth Fury iii|        8|
|    Pontiac Catalina|        8|
|  AMC Ambassador DPL|        8|
|Citroen DS-21 Pallas|        4|
|Chevrolet Chevell...|        8|
|    Ford Torino (sw)|        8|
|Plymouth Satellit...|        8|
|  AMC Rebel SST (sw)|        8|
| Dodge Challenger SE|        8|
|  Plymouth 'Cuda 340|        8|
|Ford Mustang Boss...|        8|
|Chevrolet Monte C...|        8|
|Buick Estate Wago...|        8|
+--------------------+---------+
only showing top 20 rows

Add a new column having all values "1" to the dataframe

In [10]:
from pyspark.sql.functions import lit

df = df.withColumn("New_Column", lit(1))

Add 3 columns with values of your choice

In [11]:
print("Top five rows of the updated dataframe:")
df.show(5)

Top five rows of the updated dataframe:
+--------------------+----+---------+------------+----------+------+------------+-----+------+----------+
|                 Car| MPG|Cylinders|Displacement|Horsepower|Weight|Acceleration|Model|Origin|New_Column|
+--------------------+----+---------+------------+----------+------+------------+-----+------+----------+
|Chevrolet Chevell...|18.0|        8|       307.0|     130.0| 3504.|        12.0|   70|    US|         1|
|   Buick Skylark 320|15.0|        8|       350.0|     165.0| 3693.|        11.5|   70|    US|         1|
|  Plymouth Satellite|18.0|        8|       318.0|     150.0| 3436.|        11.0|   70|    US|         1|
|       AMC Rebel SST|16.0|        8|       304.0|     150.0| 3433.|        12.0|   70|    US|         1|
|         Ford Torino|17.0|        8|       302.0|     140.0| 3449.|        10.5|   70|    US|         1|
+--------------------+----+---------+------------+----------+------+------------+-----+------+----------+
only showing top 5 rows

Create a new column "car_model" by concatenating "car" and "model" column

In [12]:
print("Top five rows of the updated dataframe with 'car_model' column:")
df.show(5)

Top five rows of the updated dataframe with 'car_model' column:
+--------------------+----+---------+------------+----------+------+------------+-----+------+----------+
|                 Car| MPG|Cylinders|Displacement|Horsepower|Weight|Acceleration|Model|Origin|New_Column|
+--------------------+----+---------+------------+----------+------+------------+-----+------+----------+
|Chevrolet Chevell...|18.0|        8|       307.0|     130.0| 3504.|        12.0|   70|    US|         1|
|   Buick Skylark 320|15.0|        8|       350.0|     165.0| 3693.|        11.5|   70|    US|         1|
|  Plymouth Satellite|18.0|        8|       318.0|     150.0| 3436.|        11.0|   70|    US|         1|
|       AMC Rebel SST|16.0|        8|       304.0|     150.0| 3433.|        12.0|   70|    US|         1|
|         Ford Torino|17.0|        8|       302.0|     140.0| 3449.|        10.5|   70|    US|         1|
+--------------------+----+---------+------------+----------+------+------------+-----+------+----------+
only showing top 5 rows

Rename a column of your choice

In [13]:
df = df.withColumnRenamed("mpg", "Miles_per_Gallon")

print("Top five rows of the updated dataframe with renamed column:")
df.show(5)

Top five rows of the updated dataframe with renamed column:
+--------------------+----------------+---------+------------+----------+------+------------+-----+------+----------+
|                 Car|Miles_per_Gallon|Cylinders|Displacement|Horsepower|Weight|Acceleration|Model|Origin|New_Column|
+--------------------+----------------+---------+------------+----------+------+------------+-----+------+----------+
|Chevrolet Chevell...|            18.0|        8|       307.0|     130.0| 3504.|        12.0|   70|    US|         1|
|   Buick Skylark 320|            15.0|        8|       350.0|     165.0| 3693.|        11.5|   70|    US|         1|
|  Plymouth Satellite|            18.0|        8|       318.0|     150.0| 3436.|        11.0|   70|    US|         1|
|       AMC Rebel SST|            16.0|        8|       304.0|     150.0| 3433.|        12.0|   70|    US|         1|
|         Ford Torino|            17.0|        8|       302.0|     140.0| 3449.|        10.5|   70|    US|         1|
+--------------------+----------------+---------+------------+----------+------+------------+-----+------+----------+
only showing top 5 rows

Drop a column of your choice

In [17]:
df = df.drop("New_Column")

print("Top five rows of the updated dataframe with dropped column:")
df.show(5)

Top five rows of the updated dataframe with dropped column:
+--------------------+----------------+---------+------------+----------+------+------------+------+
|                 Car|Miles_per_Gallon|Cylinders|Displacement|Horsepower|Weight|Acceleration|Origin|
+--------------------+----------------+---------+------------+----------+------+------------+------+
|Chevrolet Chevell...|            18.0|        8|       307.0|     130.0| 3504.|        12.0|    US|
|   Buick Skylark 320|            15.0|        8|       350.0|     165.0| 3693.|        11.5|    US|
|  Plymouth Satellite|            18.0|        8|       318.0|     150.0| 3436.|        11.0|    US|
|       AMC Rebel SST|            16.0|        8|       304.0|     150.0| 3433.|        12.0|    US|
|         Ford Torino|            17.0|        8|       302.0|     140.0| 3449.|        10.5|    US|
+--------------------+----------------+---------+------------+----------+------+------------+------+
only showing top 5 rows

Groupby the column "Origin"

In [18]:
df.groupBy('Origin').count().show(5)

+------+-----+
|Origin|count|
+------+-----+
|Europe|   73|
|    US|  254|
| Japan|   79|
+------+-----+

groupby multiple columns "Origin" and "model"

In [19]:
df.groupBy('Origin', 'Model').count().show(5)

AnalysisException: ignored

Filter rows where Origin = Europe

In [20]:
df_europe = df.filter(df["Origin"] == "Europe")

print("Rows where Origin = Europe:")
df_europe.show()

Rows where Origin = Europe:
+--------------------+----------------+---------+------------+----------+------+------------+------+
|                 Car|Miles_per_Gallon|Cylinders|Displacement|Horsepower|Weight|Acceleration|Origin|
+--------------------+----------------+---------+------------+----------+------+------------+------+
|Citroen DS-21 Pallas|               0|        4|       133.0|     115.0| 3090.|        17.5|Europe|
|Volkswagen 1131 D...|            26.0|        4|       97.00|     46.00| 1835.|        20.5|Europe|
|         Peugeot 504|            25.0|        4|       110.0|     87.00| 2672.|        17.5|Europe|
|         Audi 100 LS|            24.0|        4|       107.0|     90.00| 2430.|        14.5|Europe|
|            Saab 99e|            25.0|        4|       104.0|     95.00| 2375.|        17.5|Europe|
|            BMW 2002|            26.0|        4|       121.0|     113.0| 2234.|        12.5|Europe|
|Volkswagen Super ...|               0|        4|       97.00|     48.00| 1978.|        20.0|Europe|
|           Opel 1900|            28.0|        4|       116.0|     90.00| 2123.|        14.0|Europe|
|         Peugeot 304|            30.0|        4|       79.00|     70.00| 2074.|        19.5|Europe|
|           Fiat 124B|            30.0|        4|       88.00|     76.00| 2065.|        14.5|Europe|
|Volkswagen Model 111|            27.0|        4|       97.00|     60.00| 1834.|        19.0|Europe|
|   Volkswagen Type 3|            23.0|        4|       97.00|     54.00| 2254.|        23.5|Europe|
|     Volvo 145e (sw)|            18.0|        4|       121.0|     112.0| 2933.|        14.5|Europe|
| Volkswagen 411 (sw)|            22.0|        4|       121.0|     76.00| 2511.|        18.0|Europe|
|    Peugeot 504 (sw)|            21.0|        4|       120.0|     87.00| 2979.|        19.5|Europe|
|     Renault 12 (sw)|            26.0|        4|       96.00|     69.00| 2189.|        18.0|Europe|
|Volkswagen Super ...|            26.0|        4|       97.00|     46.00| 1950.|        21.0|Europe|
|Fiat 124 Sport Coupe|            26.0|        4|       98.00|     90.00| 2265.|        15.5|Europe|
|            Fiat 128|            29.0|        4|       68.00|     49.00| 1867.|        19.5|Europe|
|          Opel Manta|            24.0|        4|       116.0|     75.00| 2158.|        15.5|Europe|
+--------------------+----------------+---------+------------+----------+------+------------+------+
only showing top 20 rows

Filter rows where Origin = Europe and Cylinders = 4

In [21]:
df_europe_cylinders_4 = df_europe.filter(df_europe["Cylinders"] == 4)

print("Rows where Origin = Europe and Cylinders = 4:")
df_europe_cylinders_4.show()

Rows where Origin = Europe and Cylinders = 4:
+--------------------+----------------+---------+------------+----------+------+------------+------+
|                 Car|Miles_per_Gallon|Cylinders|Displacement|Horsepower|Weight|Acceleration|Origin|
+--------------------+----------------+---------+------------+----------+------+------------+------+
|Citroen DS-21 Pallas|               0|        4|       133.0|     115.0| 3090.|        17.5|Europe|
|Volkswagen 1131 D...|            26.0|        4|       97.00|     46.00| 1835.|        20.5|Europe|
|         Peugeot 504|            25.0|        4|       110.0|     87.00| 2672.|        17.5|Europe|
|         Audi 100 LS|            24.0|        4|       107.0|     90.00| 2430.|        14.5|Europe|
|            Saab 99e|            25.0|        4|       104.0|     95.00| 2375.|        17.5|Europe|
|            BMW 2002|            26.0|        4|       121.0|     113.0| 2234.|        12.5|Europe|
|Volkswagen Super ...|               0|        4|       97.00|     48.00| 1978.|        20.0|Europe|
|           Opel 1900|            28.0|        4|       116.0|     90.00| 2123.|        14.0|Europe|
|         Peugeot 304|            30.0|        4|       79.00|     70.00| 2074.|        19.5|Europe|
|           Fiat 124B|            30.0|        4|       88.00|     76.00| 2065.|        14.5|Europe|
|Volkswagen Model 111|            27.0|        4|       97.00|     60.00| 1834.|        19.0|Europe|
|   Volkswagen Type 3|            23.0|        4|       97.00|     54.00| 2254.|        23.5|Europe|
|     Volvo 145e (sw)|            18.0|        4|       121.0|     112.0| 2933.|        14.5|Europe|
| Volkswagen 411 (sw)|            22.0|        4|       121.0|     76.00| 2511.|        18.0|Europe|
|    Peugeot 504 (sw)|            21.0|        4|       120.0|     87.00| 2979.|        19.5|Europe|
|     Renault 12 (sw)|            26.0|        4|       96.00|     69.00| 2189.|        18.0|Europe|
|Volkswagen Super ...|            26.0|        4|       97.00|     46.00| 1950.|        21.0|Europe|
|Fiat 124 Sport Coupe|            26.0|        4|       98.00|     90.00| 2265.|        15.5|Europe|
|            Fiat 128|            29.0|        4|       68.00|     49.00| 1867.|        19.5|Europe|
|          Opel Manta|            24.0|        4|       116.0|     75.00| 2158.|        15.5|Europe|
+--------------------+----------------+---------+------------+----------+------+------------+------+
only showing top 20 rows

Sort rows according to "Cylinders"

In [22]:
df_sorted = df.sort("Cylinders")

print("Rows sorted by 'Cylinders':")
df_sorted.show()

Rows sorted by 'Cylinders':
+--------------------+----------------+---------+------------+----------+------+------------+------+
|                 Car|Miles_per_Gallon|Cylinders|Displacement|Horsepower|Weight|Acceleration|Origin|
+--------------------+----------------+---------+------------+----------+------+------------+------+
|          Mazda RX-4|            21.5|        3|       80.00|     110.0| 2720.|        13.5| Japan|
|       Mazda RX-7 GS|            23.7|        3|       70.00|     100.0| 2420.|        12.5| Japan|
|     Mazda RX2 Coupe|            19.0|        3|       70.00|     97.00| 2330.|        13.5| Japan|
|           Mazda RX3|            18.0|        3|       70.00|     90.00| 2124.|        13.5| Japan|
|     Datsun 510 (sw)|            28.0|        4|       97.00|     92.00| 2288.|        17.0| Japan|
|           Opel 1900|            28.0|        4|       116.0|     90.00| 2123.|        14.0|Europe|
|  Mercury Capri 2000|            23.0|        4|       122.0|     86.00| 2220.|        14.0|    US|
|Volkswagen 1131 D...|            26.0|        4|       97.00|     46.00| 1835.|        20.5|Europe|
|         Peugeot 304|            30.0|        4|       79.00|     70.00| 2074.|        19.5|Europe|
|           Fiat 124B|            30.0|        4|       88.00|     76.00| 2065.|        14.5|Europe|
| Chevrolet Vega (sw)|            22.0|        4|       140.0|     72.00| 2408.|        19.0|    US|
|         Datsun 1200|            35.0|        4|       72.00|     69.00| 1613.|        18.0| Japan|
|Volkswagen Model 111|            27.0|        4|       97.00|     60.00| 1834.|        19.0|Europe|
|   Volkswagen Type 3|            23.0|        4|       97.00|     54.00| 2254.|        23.5|Europe|
|         Audi 100 LS|            24.0|        4|       107.0|     90.00| 2430.|        14.5|Europe|
|            BMW 2002|            26.0|        4|       121.0|     113.0| 2234.|        12.5|Europe|
| Toyota Corolla 1200|            31.0|        4|       71.00|     65.00| 1773.|        19.0| Japan|
| Chevrolet Vega 2300|            28.0|        4|       140.0|     90.00| 2264.|        15.5|    US|
|          Ford Pinto|            25.0|        4|       98.00|         0| 2046.|        19.0|    US|
|  Dodge Colt Hardtop|            25.0|        4|       97.50|     80.00| 2126.|        17.0|    US|
+--------------------+----------------+---------+------------+----------+------+------------+------+
only showing top 20 rows